<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CentralSystemServiceSoap">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Ocpp/CentralSystemService/"
                binding="wsHttpBinding" bindingConfiguration="CentralSystemServiceSoap"
                contract="WcfInIISWithOcpp.CentralSystemService" name="CentralSystemServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>